# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/node_modules
/.pnp
.pnp.js

/coverage

/out/

/public/index.*

.DS_Store
*.pem

npm-debug.log*
tsconfig.tsbuildinfo

.env
.vscode/